include COPYING
include CHANGELOG
include LICENSE
include README*
include MANIFEST.in
include pyproject.toml
include tox.ini
include version.py
recursive-include docs *
recursive-include ppft *
recursive-include pp *
recursive-include scripts *
include .*
prune .git
prune .coverage
prune .eggs
