include COPYING
include CHANGELOG
include LICENSE
include README_MODS
include README.md
include tox.ini
recursive-include doc *
recursive-include examples *
recursive-include python2 *
recursive-include python3 *
recursive-include server2 *
recursive-include server3 *
